.challengeAcceptedOuter{
    padding:2% 8%;
    // min-width: 320px;
   
    h1, div{
        text-align: center;
    }
    button{
        margin-top:30px;
        width:100px;
        background-color: #3f51b5;
    }
.mat-form-field{
    width:100%;
}






    .grid-container {
        display: grid;
        grid-template: 60px /  auto auto;
        grid-gap: 10px;
        padding: 10px;
      }
      
      .grid-container > div {
        text-align: left;
        padding: 20px 0;
        // font-size: 30px;
      }
}


:host .cdk-overlay-pane{
    width:550px;
}