

<section class="challengeAcceptedOuter">
        <h1 mat-dialog-title>Bid For Challenge</h1>


        <div mat-dialog-content >
            
                    <section class="grid-container">
                            <div class="item1">Item Name :-  {{ data.item.name  }}</div>
                            <div class="item2">Base Fare:- {{ data.item.basePrice  }} </div>
                            <div class="item3">Total Bids:- {{ data.totalBids  }}</div>
                     </section>
            
     

        
               <section>

                    <mat-form-field appearance="fill">
                            <mat-label>Amount</mat-label>
                            <input matInput type="number" class="example-right-align" [(ngModel)]="data.bidPrice">
                            <span matPrefix>$&nbsp;</span>
                            <span matSuffix>.00</span>
                          </mat-form-field>


               </section> 
                
            
               <!-- mat-dialog-close -->
  <button mat-raised-button color="accent" (click)='onSubmit()' >Submit</button>
              </div>



      
  
    
        <!-- </div> -->
</section> 





