

 
  
  
 
  .challengesOuter{
    overflow-x:auto;
    .challengeTable{
      overflow-x:auto;
    }
h1{
    text-align: center;
    opacity: 0.8;
}
    margin:3% 10%;
    .bidButton{
        width:130px;
    }
    .mat-header-cell {
        text-align: center;
        padding:10px;
      }

      table {
        width: 100%;
       
        text-align: center !important;
      }
    .disabledFiled{
        opacity: 0.4;
        pointer-events: none;
    }


  
  }